@import url('https://fonts.googleapis.com/css?family=Barlow:300,400,500,600,700,800,900');
body {
    font-family: 'Barlow', sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    position: fixed;
    margin: 0;
    background-image: url('/static/svg/background.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.game-container {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: rgba(33, 150, 243, .5);
}

.above-container {
    position: absolute;
    width: 100%;
    height: 100%;
}

.below-container {
    position: absolute;
    width: 100%;
    height: 28%;
    bottom: 0;
}

.box {
    width: 18%;
    height: 97.2%;
    position: absolute;
    border-radius: 14px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.character-area {
    width: 60%;
    height: 66%;
    position: relative;
    top: 34%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2), 0 1px 2px rgba(0, 0, 0, .5);
    background-image: url('/static/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.instrument-audio {
    display: none;
}

.music-instrument {
    display: none;
    /* bottom: 6%;
    right: 2%; */
    width: 21%;
    position: absolute;
}

.music-instrument.cello {
    bottom: 6%;
    right: 2%;
    transform: rotate(-25deg);
}

.music-instrument.accordion {
    bottom: 5%;
    right: 4%;
    transform: rotate(13deg);
}

.music-instrument.trumpet {
    bottom: 6%;
    right: 2%;
    transform: scaleX(-1);
}

.music-instrument.piano {
    bottom: 3%;
    right: 5%;
}

.music-instrument.saxophone {
    bottom: 6%;
    right: 2%;
    transform: scaleX(-1);
}

.music-instrument.drum {
    bottom: 2%;
    right: 5%;
}

.music-instrument.guitar {
    bottom: 6%;
    right: 4%;
    transform: rotate(-25deg);
}

.music-instrument.dan-nguyet {
    bottom: 6%;
    right: 5%;
    transform: rotate(-20deg);
}

.music-instrument.trumpet img {
    width: 85%;
}

.music-instrument.block {
    display: block;
}

.instrument-note {
    display: none;
    position: absolute;
    transition: 0.5s ease-in;
}

.instrument-note.block {
    display: block;
}

.instrument-note.cello {
    bottom: 25%;
    right: 22%;
}

.instrument-note.accordion {
    bottom: 35%;
    right: 16%;
}

.instrument-note.trumpet {
    bottom: 38%;
    right: 18%;
}

.instrument-note.piano {
    bottom: 36%;
    right: 17%;
}

.instrument-note.saxophone {
    bottom: 35%;
    right: 22%;
}

.instrument-note.drum {
    bottom: 39%;
    right: 20%;
}

.instrument-note.guitar {
    bottom: 31%;
    right: 22%;
}

.instrument-note.dan-nguyet {
    bottom: 32%;
    right: 22%;
}

.animation-delay-1 {
    animation-delay: 1s;
}

.animation-delay-2 {
    animation-delay: 2s;
}

.note-animation {
    position: absolute;
    font-size: 20px;
    animation-name: notes;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    opacity: 0;
}

.note-1 {
    top: 55px;
}

.note-2 {
    left: 40px;
}

.note-3 {
    top: 30px;
}

.note-4 {}

@keyframes notes {
    0% {
        font-size: 20px;
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        font-size: 30px;
        margin-top: -150px;
        opacity: 0;
    }
}

.character-box {
    background: #fff;
    right: 0;
    top: 1%;
    margin-right: 12px;
}

.point-box {
    background: rgba(255, 255, 255, .7);
    left: 0;
    top: 1%;
    margin-left: 12px;
}

.your-character {
    width: 100%;
    height: 33%;
}

.your-character .image {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.your-character .image img {
    width: 100%;
    height: 80%;
}

.character-name {
    font-size: 22px;
    font-weight: 600;
    text-align: center;
}

.character-level {
    font-size: 18px;
    font-weight: 400;
    text-align: center;
}

.bar-container {
    width: 93%;
    height: auto;
    margin: 0 auto;
}

.progress {
    padding: 4px;
    border-radius: 6px;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
}

.progress .exp-point {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.exp-point {
    font-size: 17px;
    font-weight: 500;
}

.health .progress {
    background: rgba(240, 98, 146, .25);
}

.hungry .progress {
    background: rgba(255, 213, 79, .25);
}

.thirsty .progress {
    background: rgba(144, 202, 249, .25);
}

.happy .progress {
    background: rgba(129, 199, 132, .25);
}

.experience .progress {
    background: rgba(255, 241, 118, 0.25);
}

.progress-name {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 3px;
    margin-left: 5px;
    text-transform: uppercase;
}

.progress-bar {
    height: 20px;
    border-radius: 4px;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
    transition: 0.4s linear;
    transition-property: width;
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 1px rgba(255, 255, 255, 0.1);
}

.progress-bar.no-transition {
    background-color: transparent;
    transition: 0s;
}

.health .progress-bar {
    width: 100%;
    background-color: #E91E63;
}

.hungry .progress-bar {
    width: 100%;
    background-color: #FFC107;
}

.thirsty .progress-bar {
    width: 100%;
    background-color: #2196F3;
}

.happy .progress-bar {
    width: 100%;
    background-color: #4CAF50;
}

.experience .progress-bar {
    width: 0%;
    background-color: #FFEB3B;
}

.audio-player {
    width: 100%;
    height: 13%;
    position: absolute;
    display: flex;
    flex-direction: column;
    bottom: 0;
    background-color: rgba(51, 51, 51, .9);
    border-radius: 0px 0px 14px 14px;
}

.music-title {
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 100;
    margin-top: 10px;
}

.audio-player audio {
    display: none;
}

.control-button,
.play-pause {
    width: fit-content;
    height: fit-content;
    display: flex;
    margin: 0 auto;
    margin-top: 4px;
}

.media-container {
    display: flex;
    width: 40%;
    height: 70%;
}

.play-button,
.previous-button,
.next-button {
    display: flex;
    width: 60px;
    height: 60px;
    margin: 0 auto;
    cursor: pointer;
}

.play-button {
    position: relative;
    overflow: hidden;
    border-width: 0;
    outline: none;
    border-radius: 100%;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
    box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
    background-color: #E91E63;
    color: #ecf0f1;
    -webkit-transition: background-color .3s;
    transition: background-color .3s;
}

.play-button img.is-paused {
    width: 50%;
    left: 50%;
}

.play-button img {
    width: 60%;
    position: absolute;
    top: 50%;
    left: 57%;
    transform: translate(-50%, -50%);
}

.previous-button img,
.next-button img {
    width: 50%;
    margin: 0 auto;
}

.previous-button img {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.character-box:hover,
.point-box:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.character.image {
    display: flex;
    align-items: center;
    width: 100%;
    height: 45%;
    border-radius: 14px 14px 0px 0px;
    background-image: url('/static/svg/monster-background.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.character img {
    width: 100%;
    height: 77%;
}

.character .name {
    font-size: 29px;
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;
}

.character .content {
    padding: 15px;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}

.character.properties {
    position: absolute;
    bottom: 0;
    display: flex;
    width: 100%;
    border-radius: 0px 0px 14px 14px;
    overflow: hidden;
}

.character .property {
    flex: 1;
    background-color: #DC516F;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.property:nth-child(2) {
    border-left: 1px solid #000000;
    border-right: 1px solid #000000;
}

.value-box {
    text-align: center;
}

.value-box .value {
    font-size: 26px;
    font-weight: 700;
}

.value-box .skill {
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
}

.item-container {
    position: absolute;
    left: 50%;
    bottom: 2%;
    transform: translateX(-50%);
    width: 60%;
    height: 30%;
    margin: 0 auto;
    user-select: none;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    background: rgba(255, 255, 255, .85);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.food {
    width: 30%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

.food .container {
    width: 100%;
    height: 80%;
    display: flex;
    flex-wrap: wrap;
}

.food-title {
    display: flex;
    align-items: center;
    margin: 0 auto;
    font-size: 23px;
    font-weight: 700;
}

.button-container {
    position: relative;
    width: 32%;
    height: 30%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.item-point {
    position: absolute;
    font-size: 13px;
    padding: 3px 8px;
    right: -5px;
    top: -3px;
    background-color: #333;
    color: #fff;
    border-radius: 2px;
}

.item-box {
    width: 55px;
    height: 55px;
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.item-box {
    position: relative;
    overflow: hidden;
    border-width: 0;
    outline: none;
    border-radius: 100%;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
    background-color: #2ecc71;
    color: #ecf0f1;
    transition: background-color .3s;
}

#food .item-box {
    background-color: #66BB6A;
}

#food .item-box:hover,
#food .item-box:focus {
    background-color: #4CAF50;
}

#drink .item-box {
    background-color: #29B6F6;
}

#drink .item-box:hover,
#drink .item-box:focus {
    background-color: #039BE5;
}

#music .item-box {
    background-color: #EC407A;
}

#music .item-box:hover,
#music .item-box:focus {
    background-color: #D81B60;
}

.item-box:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 0;
    padding-top: 0;
    border-radius: 100%;
    background-color: rgba(236, 240, 241, .3);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.item-box:active:before {
    width: 150%;
    padding-top: 120%;
    transition: width .2s ease-out, padding-top .2s ease-out;
}

.item-box img {
    width: 90%;
    margin: 0 auto;
    z-index: 10;
}

#drink .item-box img {
    width: 75%;
    margin: 0 auto;
}

#music .item-box img {
    width: 100%;
    margin: 0 auto;
}

.firework {
    display: none;
}

.block {
    display: block;
}

.firework>.before,
.firework>.after {
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    box-shadow: -120px -218.66667px blue, 248px -16.66667px #00ff84, 190px 16.33333px #002bff, -113px -308.66667px #ff009d, -109px -287.66667px #ffb300, -50px -313.66667px #ff006e, 226px -31.66667px #ff4000, 180px -351.66667px #ff00d0, -12px -338.66667px #00f6ff, 220px -388.66667px #99ff00, -69px -27.66667px #ff0400, -111px -339.66667px #6200ff, 155px -237.66667px #00ddff, -152px -380.66667px #00ffd0, -50px -37.66667px #00ffdd, -95px -175.66667px #a6ff00, -88px 10.33333px #0d00ff, 112px -309.66667px #005eff, 69px -415.66667px #ff00a6, 168px -100.66667px #ff004c, -244px 24.33333px #ff6600, 97px -325.66667px #ff0066, -211px -182.66667px #00ffa2, 236px -126.66667px #b700ff, 140px -196.66667px #9000ff, 125px -175.66667px #00bbff, 118px -381.66667px #ff002f, 144px -111.66667px #ffae00, 36px -78.66667px #f600ff, -63px -196.66667px #c800ff, -218px -227.66667px #d4ff00, -134px -377.66667px #ea00ff, -36px -412.66667px #ff00d4, 209px -106.66667px #00fff2, 91px -278.66667px #000dff, -22px -191.66667px #9dff00, 139px -392.66667px #a6ff00, 56px -2.66667px #0099ff, -156px -276.66667px #ea00ff, -163px -233.66667px #00fffb, -238px -346.66667px #00ff73, 62px -363.66667px #0088ff, 244px -170.66667px #0062ff, 224px -142.66667px #b300ff, 141px -208.66667px #9000ff, 211px -285.66667px #ff6600, 181px -128.66667px #1e00ff, 90px -123.66667px #c800ff, 189px 70.33333px #00ffc8, -18px -383.66667px #00ff33, 100px -6.66667px #ff008c;
    -moz-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
    -webkit-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
    -o-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
    -ms-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
    animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
}

.pyro>.after {
    -moz-animation-delay: 1.25s, 1.25s, 1.25s;
    -webkit-animation-delay: 1.25s, 1.25s, 1.25s;
    -o-animation-delay: 1.25s, 1.25s, 1.25s;
    -ms-animation-delay: 1.25s, 1.25s, 1.25s;
    animation-delay: 1.25s, 1.25s, 1.25s;
    -moz-animation-duration: 1.25s, 1.25s, 6.25s;
    -webkit-animation-duration: 1.25s, 1.25s, 6.25s;
    -o-animation-duration: 1.25s, 1.25s, 6.25s;
    -ms-animation-duration: 1.25s, 1.25s, 6.25s;
    animation-duration: 1.25s, 1.25s, 6.25s;
}

@-webkit-keyframes bang {
    from {
        box-shadow: 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white;
    }
}

@-moz-keyframes bang {
    from {
        box-shadow: 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white;
    }
}

@-o-keyframes bang {
    from {
        box-shadow: 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white;
    }
}

@-ms-keyframes bang {
    from {
        box-shadow: 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white;
    }
}

@keyframes bang {
    from {
        box-shadow: 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white;
    }
}

@-webkit-keyframes gravity {
    to {
        transform: translateY(200px);
        -moz-transform: translateY(200px);
        -webkit-transform: translateY(200px);
        -o-transform: translateY(200px);
        -ms-transform: translateY(200px);
        opacity: 0;
    }
}

@-moz-keyframes gravity {
    to {
        transform: translateY(200px);
        -moz-transform: translateY(200px);
        -webkit-transform: translateY(200px);
        -o-transform: translateY(200px);
        -ms-transform: translateY(200px);
        opacity: 0;
    }
}

@-o-keyframes gravity {
    to {
        transform: translateY(200px);
        -moz-transform: translateY(200px);
        -webkit-transform: translateY(200px);
        -o-transform: translateY(200px);
        -ms-transform: translateY(200px);
        opacity: 0;
    }
}

@-ms-keyframes gravity {
    to {
        transform: translateY(200px);
        -moz-transform: translateY(200px);
        -webkit-transform: translateY(200px);
        -o-transform: translateY(200px);
        -ms-transform: translateY(200px);
        opacity: 0;
    }
}

@keyframes gravity {
    to {
        transform: translateY(200px);
        -moz-transform: translateY(200px);
        -webkit-transform: translateY(200px);
        -o-transform: translateY(200px);
        -ms-transform: translateY(200px);
        opacity: 0;
    }
}

@-webkit-keyframes position {
    0%,
    19.9% {
        margin-top: 10%;
        margin-left: 40%;
    }
    20%,
    39.9% {
        margin-top: 40%;
        margin-left: 30%;
    }
    40%,
    59.9% {
        margin-top: 20%;
        margin-left: 70%;
    }
    60%,
    79.9% {
        margin-top: 30%;
        margin-left: 20%;
    }
    80%,
    99.9% {
        margin-top: 30%;
        margin-left: 80%;
    }
}

@-moz-keyframes position {
    0%,
    19.9% {
        margin-top: 10%;
        margin-left: 40%;
    }
    20%,
    39.9% {
        margin-top: 40%;
        margin-left: 30%;
    }
    40%,
    59.9% {
        margin-top: 20%;
        margin-left: 70%;
    }
    60%,
    79.9% {
        margin-top: 30%;
        margin-left: 20%;
    }
    80%,
    99.9% {
        margin-top: 30%;
        margin-left: 80%;
    }
}

@-o-keyframes position {
    0%,
    19.9% {
        margin-top: 10%;
        margin-left: 40%;
    }
    20%,
    39.9% {
        margin-top: 40%;
        margin-left: 30%;
    }
    40%,
    59.9% {
        margin-top: 20%;
        margin-left: 70%;
    }
    60%,
    79.9% {
        margin-top: 30%;
        margin-left: 20%;
    }
    80%,
    99.9% {
        margin-top: 30%;
        margin-left: 80%;
    }
}

@-ms-keyframes position {
    0%,
    19.9% {
        margin-top: 10%;
        margin-left: 40%;
    }
    20%,
    39.9% {
        margin-top: 40%;
        margin-left: 30%;
    }
    40%,
    59.9% {
        margin-top: 20%;
        margin-left: 70%;
    }
    60%,
    79.9% {
        margin-top: 30%;
        margin-left: 20%;
    }
    80%,
    99.9% {
        margin-top: 30%;
        margin-left: 80%;
    }
}

@keyframes position {
    0%,
    19.9% {
        margin-top: 10%;
        margin-left: 40%;
    }
    20%,
    39.9% {
        margin-top: 40%;
        margin-left: 30%;
    }
    40%,
    59.9% {
        margin-top: 20%;
        margin-left: 70%;
    }
    60%,
    79.9% {
        margin-top: 30%;
        margin-left: 20%;
    }
    80%,
    99.9% {
        margin-top: 30%;
        margin-left: 80%;
    }
}